<table>
  <tr>
    <th>ID</th>
    <th>Link to Post</th>
    <th>Date</th>
    <th>Address</th>
    <th>Square Foot</th>
    <th>Bathrooms</th>
    <th>Bedrooms</th>
    <th>Price</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Non-Smoking</th>
    <th>Cats</th>
    <th>Dogs</th>
    <th>Wheelchair Accessible</th>
  </tr>

<% @rentals.each do |r| %>
  <tr>
    <td><%= r.post_id %></td>
    <td><a href="<%= r.post_link %>">link</a></td>
    <td><%= r.post_time %></td>
    <td><%= r.address %></td>
    <td><%= r.area %></td>
    <td><%= r.bathrooms %></td>
    <td><%= r.bedrooms %></td>
    <td>$<%= r.price %></td>
    <td><%= r.latitude %></td>
    <td><%= r.longitude %></td>
    <td><%= r.no_smoking %></td>
    <td><%= r.cats_allowed %></td>
    <td><%= r.dogs_allowed %></td>
    <td><%= r.wheelchair_accessible %></td>
  </tr>
<% end %>
</table>
